{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Be the Cover Dog{% endblock %}
{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>
  
<div class="col">
{% block page_heading %}Be the Cover Dog{% endblock %}
</div>

  <form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  {{ form }}
  <input type='submit'/ class='btn btn-primary' value='Save'>
  </form>

{% endblock %}