{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Walking Dog{% endblock %}
{% block content %}

  <header class="py-5 bg-image-full" style="background-image: url({% static "img/walkdog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>
  
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{% block page_heading %}Walking Dog{% endblock %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>WalkieDoggie is a initiative done by SoSD to bring shelter dog to the park close to you. <br> 
    We will be holding an shelter-dog-walking activities every Sunday bi-weekly at various park in Singapore (Schedule will be shared through our facebook page) <br>
    For this pilot test, 9 of our most friendly dogs (and hopefully to find them a new home in the same time) are selected.</p>
    </div>
  </div>
</div>

{% if user.is_superuser %}
  <div class="container-fluid">
  <div class="row">
    <div class="col">
<a href='{% url 'create_walkingdog'%}' class='btn btn-primary'>Add New</a>
    </div>
  </div>
</div>
{% endif %}

<div class="container-fluid">
  <div class="row">
    {%for p in post %}
      <div class="col-12 col-md-4 fullcard">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading{{p.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
                  <img class="upload" src="{{p.cover.cdn_url}}" class="card-img-top" alt="..."/>
                    <p>{{ p.title }}</p>
                </button>
              </h5>
          </div>
            <div id="collapse{{p.id}}" class="collapse" aria-labelledby="heading{{p.id}}" data-parent="#accordion">
              <div class="card-body">
                <div class="container-fluid-p">
                  <div class="row">
                    <div class="col">
                      Estimated Age : {{ p.age }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Gender : {{ p.sex }}
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      Intro : {{ p.content |linebreaks }}
                    </div>
                  </div>
                  <br>
                {% if user.is_superuser %}
                <div class="row">
                  <div class="col-6 button">
                  <a href='edit/{{ p.id }}' class='btn btn-info'>Edit</a>
                  </div>
                  <div class="col-6 button">
                  <a href='delete/{{ p.id }}' class='btn btn-danger'>Delete</a>
                  </div>
                </div>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
</div>
{% endblock %}