{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Walking Dog{% endblock %}
{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>
  
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{% block page_heading %}Walking Dog{% endblock %}</h1>
    </div>
  </div>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="col">
{% if user.is_superuser %}
<a href='{% url 'create_walkingdog'%}' class='btn btn-primary'>Add New</a>
{% endif %}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    {%for p in post %}
      <div class="col-12 col-md-4 fullcard">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="heading">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
                  <img class="upload" src="{{p.cover.url}}" class="card-img-top" alt="..."/>
                    <p>{{ p.title }}</p>
                </button>
              </h5>
          </div>
            <div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordion">
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
              {{ p.content }}
                </div>
                {% if user.is_superuser %}
                <div class="row">
                <a href='edit/{{ p.id }}' class='btn btn-info'>Edit</a>
                </div>
                <div class="row">
                <a href='delete/{{ p.id }}' class='btn btn-danger'>Delete</a>
                </div>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
</div>
{% endblock %}