{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Donation{% endblock %}
{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/donatedog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-paw" aria-hidden="true"></i>{% block page_heading %}Doggonation{% endblock %}<i class="fa fa-paw" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
        <h2>Sorry to see you go!</h2>
    </div>
  </div>
</div>

{% endblock %}