{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Donation{% endblock %}
{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/donatedog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>
  
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-paw" aria-hidden="true"></i>{% block page_heading %}Doggonation{% endblock %}<i class="fa fa-paw" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Wondering how much to donate?</h5>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-6">
      <ul>
        <li>$10 can provide 10 meals for a shelter dog.</li>
        <li>$20 can fund an outreach event on animal cruelty.</li>
        <li>$50 can fund 1 day’s hospitalization stay for a dog.</li>
        <li>$100 can fund medical costs for a rescued dog.</li>
        <li>$500 can fund a trap-neuter-rehome/release programme, thus eliminating stray puppies.</li>
      </ul>
      </div>
    <div class="col"></div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
        <form method="GET" action="{% url 'charge' %}">
            <div class='form-group'>
                <label class='label'>Amount (SGD)</label>
                <input type='number' min="10" step="0" class='form-control' name='amount' placeholder='Minimum $10'>
            </div>
            <input class="btn btn-warning" type="submit" value="Donate">
        </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col disclaimer">
      <p>For registered users,please use the same email as your registered email in donation page for verification purposes.<br>
      Your donations to SOSD is qualify for 2.5 times deduction of taxable income, as granted by the Inland Revenue Authority of Singapore (IRAS).</p>
    </div>
  </div>
</div>

{% endblock %}