{% extends 'base.html' %}
{% load static %}
{% block page_title %}WalkieDoggie - Donation{% endblock %}
{% block page_heading %}Help by donating{% endblock %}
{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
        <h2>Thank you for your donation!</h2>
    </div>
  </div>
</div>

{% endblock %}