{% extends 'base.html' %}

{% load static %}

{% block page_title %}Walkie Doggie{% endblock %}

{% block content %}
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1><i class="fa fa-paw" aria-hidden="true"></i>{% block page_heading %}Who are we?{% endblock %}<i class="fa fa-paw" aria-hidden="true"></i></h1>
    </div>
  </div>
</div>

  <section class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>Singapore’s Volunteer-Run Dog Shelter</h2><br>
          <p>SOSD is a volunteer-run organisation dedicated to the welfare of Singapore’s many street dogs. We vehemently oppose the culling of stray animals and believe that there is a more humane way to manage this problem. Our dog shelter exists to rescue, rehabilitate and rehome strays to give them a second chance at life. If you’re an animal lover with a great passion for our canine friends, there are plenty of ways you can participate and help give these beautiful creatures a chance to find their forever home. Whether you want to adopt a dog, be a dog shelter volunteer, donate to our pet shelter, become a sponsor or even a foster parent while our dogs await their forever homes, there are plenty of ways to show you care.</p>
        </div>
        <div class="col-12 col-md-6">
            <h2>Volunteer at our animal shelter by walking with the shelter dog!</h2><br>
            <p>If you don’t have the space or time it takes to care for an animal, there are still ways that you can help. As we are a not-for-profit organisation, we are constantly short of resources and our kennel is stretched to the limit. Choosing to donate to our pet shelter is one way you can help; you can donate money or items and we even have a wish list of things that we need to keep the shelter running on a continual basis. Another option is sponsorship, you can choose a dog to sponsor on a month-to-month basis, which helps to cover the expenses incurred, until they find their forever home.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}