{% extends 'testbase.html' %}
{% load static %}

{% block page_title %}Login{%endblock%}

{% block page_heading %}Login to your Account{% endblock%}


{% block content %}

  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>
  
    <form method='POST'>
         {% csrf_token %}
         {{ form.as_p }}
         <input type="submit">
    </form>
{% endblock %}