{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}Walkie Doggie - Login{%endblock%}

{% block content %}

  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{% block page_heading %}Login{% endblock %}</h1>
    </div>
  </div>
</div>

  <div class="container-fluid form">
     <div class="row">
         <div class="col">
    <form method='POST'>
         {% csrf_token %}
         {{ form | crispy }}
         <input type="submit">
    </form>
    </div>
    </div>
    </div>
{% endblock %}