{% extends 'base.html' %}
{% load static %}

{% block page_title %}Walkie Doggie - Profile{%endblock%}


{% block content %}

  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>{% block page_heading %}Profile{% endblock %}</h1>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="container-fluid form">
  <div class="row">
    <div class="col">
      <p>Your username : {{ user.username }}</p>
      <p>Your registered Email : {{ user.email }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col disclaimer">
      <p>For any assistance, please contact us directly at admin@walkiedoggie.com</p>
      <p>Please use the same email as your registered email in donation page for verification purposes as your donations to SOSD is qualify for 2.5 times deduction of taxable income, as granted by the Inland Revenue Authority of Singapore (IRAS).</p>
    </div>
  </div>
</div>
{% endif %}

{% if not user.is_authenticated %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2><i class="fa fa-paw" aria-hidden="true"></i> Hello! There's nothing to see here <i class="fa fa-paw" aria-hidden="true"></i></h2>
        <p>For any assistance, please contact us directly at admin@walkiedoggie.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{% static "img/lost.jpg" %}" alt="" class="img-fluid">
      </div>
      </div>
  </div>
{% endif %}
{% endblock %}
