<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    
    {% if messages %}
    <div>
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}    
    
   <ul>
       {% if not user.is_authenticated %}
        <li><a href="{% url 'login' %}">Login</a></li>
         <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
       
        <li>Profile</li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      
        {% endif %}
   </ul>
   <h1>{% block page_heading %}{% endblock %}</h1>
   <div>
       {% block content %}{% endblock %}
   </div>
   
</body>
</html>