<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block page_title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa fa-paw" aria-hidden="true"></i>WalkieDoggie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url({% static "img/dog.jpg" %});">
    <img class="img-fluid d-block mx-auto" src="{% static "img/SOSDlogo.png" %}" alt="SoSD">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>{% block page_heading1 %}{% endblock %}</h1><br>
          <p>SOSD is a volunteer-run organisation dedicated to the welfare of Singapore’s many street dogs. We vehemently oppose the culling of stray animals and believe that there is a more humane way to manage this problem. Our dog shelter exists to rescue, rehabilitate and rehome strays to give them a second chance at life. If you’re an animal lover with a great passion for our canine friends, there are plenty of ways you can participate and help give these beautiful creatures a chance to find their forever home. Whether you want to adopt a dog, be a dog shelter volunteer, donate to our pet shelter, become a sponsor or even a foster parent while our dogs await their forever homes, there are plenty of ways to show you care.</p>
        </div>
      <div class="col-12 col-md-6">
          <h1>{% block page_heading2 %}{% endblock %}</h1><br>
          <p>If you don’t have the space or time it takes to care for an animal, there are still ways that you can help. As we are a not-for-profit organisation, we are constantly short of resources and our kennel is stretched to the limit. Choosing to donate to our pet shelter is one way you can help; you can donate money or items and we even have a wish list of things that we need to keep the shelter running on a continual basis. Another option is sponsorship, you can choose a dog to sponsor on a month-to-month basis (min 3 months), which helps to cover the expenses incurred, until they find their forever home.</p>
      </div>
      </div>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <!--<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">-->
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <!--  <div style="height: 200px;"></div>-->
  <!--</section>-->

  <!-- Content section -->
  <!--<section class="py-5">-->
  <!--  <div class="container">-->
  <!--    <h1>Part 2</h1>-->
  <!--    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
  <!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>-->
  <!--  </div>-->
  <!--</section>-->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Yu Cheng 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  
  <script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
